{% extends 'base.html.twig' %}

{% block title %}Ikeo - Panier
{% endblock %}

{% block body %}
	{% if app.user %}
		{% if items | length > 0 %}
			{% include "components/_cart.html.twig" %}
		{% else %}
			<h2 class="d-flex justify-content-center">Le panier est vide!</h2>
		{% endif %}
	{% else %}
		{% if items | length > 0 %}
			{% include "components/_cart.html.twig" %}
			<div class="d-flex justify-content-center">

				<p>Vous n'avez pas de compte?
				</p>
				<a href="" class="btn btn-info">
					S'inscrire</a>

				<p>Vous avez déjà un compte?
				</p>
				<a href="{{ path('app_login') }}" class="btn btn-success">
					Se connecter</a>
			</div>
		{% else %}
			<h2 class="d-flex justify-content-center">Le panier est vide!</h2>
			<div class="d-flex justify-content-center">

				<p>Vous n'avez pas de compte?
				</p>
				<a href="" class="btn btn-info">
					S'inscrire</a>

				<p>Vous avez déjà un compte?
				</p>
				<a href="{{ path('app_login') }}" class="btn btn-success">
					Se connecter</a>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}
