{% extends 'base.html.twig' %}

{% block title %}Ikeo! Sortez avec un Suédois
{% endblock %}

{% block body %}
	<h1>Nos produits phares
	</h1>
	<div class="row">
		{% for p in products %}
			<div class="col">
				{% include "product/_product_card.html.twig" %}
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irréporochable!</h2>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, saepe!</p>
	<div class="row">
		{% include "components/_assurance.html.twig" with {
            'color': 'primary',
            'icon': 'fas fa-truck',
            'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, voluptate.'
        } %}
		{% include "components/_assurance.html.twig" with {
            'color': 'success',
            'icon': 'fas fa-check',
            'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, voluptate.'
        } %}
		{% include "components/_assurance.html.twig" with {
            'color': 'warning',
            'icon': 'fas fa-lock',
            'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, voluptate.'
        } %}
	</div>
{% endblock %}
