<form class="mb-2 mt-2" method="post" action="{{ path('admin_category_delete', {slug: category.slug}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette catégorie?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
	<button class="btn btn-danger">
		<i class="fas fa-trash"></i>Supprimer</button>
</form>
