{% extends 'admin/base.html.twig' %}

{% block title %}Edition de la catégorie
{% endblock %}

{% block body %}
	<h1>Edit Category</h1>

	{{ include('admin/category/_form.html.twig', {'button_label': 'Update'}) }}

	{{ include('admin/category/_delete_form.html.twig') }}
	<a class="btn btn-dark mt-2" href="{{ path('admin_category_index') }}">Retour à la liste des catégories</a>

{% endblock %}
