<form class="mb-2 mt-2" method="post" action="{{ path('admin_product_delete', {slug: product.slug}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce produit?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
	<button class="btn btn-danger">
		<i class="fas fa-trash"></i>Supprimer</button>
</form>
