{% extends 'base.html.twig' %}

{% block title %}Nouveau produit
{% endblock %}

{% block body %}
	<h1>Nouveau produit</h1>

	{{ include('admin/product/_form.html.twig') }}

	<a class="btn btn-dark mt-2" href="{{ path('admin_product_index') }}">Retour à liste des produits</a>
{% endblock %}
